{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<h2>{{ question.question_text }}</h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <p>
    <label for = "choice{{ forloop.counter }}" id = "ansButton"> {{ choice.choice_text }}  </label>
    <input type = "submit" name = "choice" id = "choice{{ forloop.counter }}"  style="display: none" value="{{choice.id}}">
    <p>
{% endfor %}

</form>

